In [1]:
import pandas as pd
import numpy as np

In [16]:
# Pandas series - 1D array with any type of data

In [15]:
my_series = [1, 5, 9, 7]
my_var = pd.Series(my_series)
my_var

0    1
1    5
2    9
3    7
dtype: int64

In [7]:
# Print specific value

In [17]:
print(my_var[2]) # When you use print it forces Jupyter to print just the value
my_var[2]

9

np.int64(9)

In [14]:
# Labels using an index argument

In [20]:
my_index = ["A", "B", "C", "D"]
my_var2 = pd.Series(my_series, my_index)
my_var2

A    1
B    5
C    9
D    7
dtype: int64

In [25]:
print(my_var2["B"])

5

In [26]:
# Key value dictionary

In [27]:
cars = {"Tesla": 12, "Mercedes": 42, "BMW": 3}
my_var3 = pd.Series(cars)
my_var3

Tesla       12
Mercedes    42
BMW          3
dtype: int64