In [2]:
import pandas as pd
import numpy as np
from numpy.random import randn # Create random numbers

In [9]:
my_data = randn(4, 3) # Rows(4) and columns(3)
my_rows = ["A", "B", "C", "D"]
my_cols = ["Monday", "Tuesday", "Friday"]

In [15]:
# Create dataframe
my_df = pd.DataFrame(my_data, my_rows, my_cols)
my_df

     Monday   Tuesday    Friday
A -0.387262 -0.019479 -0.796908
B  0.421665 -0.750616  0.448151
C -0.718053 -0.731644  0.494662
D -1.295773 -1.568791 -0.497440

In [27]:
# Import CSV 
my_df2 = pd.read_csv('archive.csv')
my_df2.loc[0]
# Pull out multiple rows
my_df2.loc[[0, 5, 8]]