In [2]:
import pandas as pd
import numpy as np

In [36]:
my_df = pd.read_csv('ShelterDogs.csv')

In [22]:
# Count distinct values - descending
my_df['name'].value_counts()

name
Lili      18
Kormi     11
Maci      10
Manó       9
Buksi      9
          ..
Oleg       1
Tündér     1
Fodri      1
Csibi      1
Kölni      1
Name: count, Length: 2016, dtype: int64

In [23]:
# Count distinct values - ascending
my_df['name'].value_counts(ascending = True)

name
Frida És Ricsi        1
Ricsi És Frida        1
Újhartyáni Mazsi      1
Vasi                  1
Újhartyáni Frenki     1
                     ..
Manó                  9
Buksi                 9
Maci                 10
Kormi                11
Lili                 18
Name: count, Length: 2016, dtype: int64

In [26]:
my_df['housebroken'].value_counts() # but we have same with NaN(none)

housebroken
yes    405
no      55
Name: count, dtype: int64

In [28]:
my_df['housebroken'].value_counts(dropna = False) # now we see all of them

housebroken
NaN    2477
yes     405
no       55
Name: count, dtype: int64

In [31]:
# Get relative frequency (percentage)
my_df['name'].value_counts(normalize = True)

name
Lili      0.006327
Kormi     0.003866
Maci      0.003515
Manó      0.003163
Buksi     0.003163
            ...
Oleg      0.000351
Tündér    0.000351
Fodri     0.000351
Csibi     0.000351
Kölni     0.000351
Name: proportion, Length: 2016, dtype: float64

In [35]:
# Get specific item
print(my_df['name'].value_counts()['Lili'])

18