In [3]:
import pandas as pd
import numpy as np

In [4]:
my_df = pd.read_csv('ShelterDogs5.csv')

In [5]:
# Add column from list
Test = ["A", "A", "B", "D", "D"]
my_df["Test"] = Test
my_df

,ID,name,age,sex,breed,date_found,adoptable_from,posted,color,coat,size,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,keep_in;;;;;;;;;;;;,Test
0,23807,Gida,0.25,female,Unknown Mix,2019-12-10,2019-12-11,2019-12-11,red,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,A
1,533,Frida És Ricsi,0.17,female,Unknown Mix,2019-12-01,2019-12-01,2019-12-09,black and white,short,small,no,NaN,yes,yes,yes,yes,yes,;;;;;;;;;;;;,A
2,23793,NaN,4.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,saddle back,short,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,B
3,23795,NaN,1.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,yellow-brown,medium,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,D
4,23806,Amy,2.00,female,French Bulldog Mix,2019-12-10,2019-12-11,2019-12-11,black,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,D

In [19]:
# Add default values
my_df["Alive/Dead"] = [True] * len(my_df)
my_df

,ID,name,age,sex,breed,date_found,adoptable_from,posted,color,coat,...,likes_children,get_along_males,get_along_females,get_along_cats,keep_in;;;;;;;;;;;;,A,B,D,Test,Alive/Dead
0,23807,Gida,0.25,female,Unknown Mix,2019-12-10,2019-12-11,2019-12-11,red,short,...,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,A,B,D,A,True
1,533,Frida És Ricsi,0.17,female,Unknown Mix,2019-12-01,2019-12-01,2019-12-09,black and white,short,...,yes,yes,yes,yes,;;;;;;;;;;;;,A,B,D,A,True
2,23793,NaN,4.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,saddle back,short,...,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,A,B,D,B,True
3,23795,NaN,1.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,yellow-brown,medium,...,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,A,B,D,D,True
4,23806,Amy,2.00,female,French Bulldog Mix,2019-12-10,2019-12-11,2019-12-11,black,short,...,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,A,B,D,D,True

In [20]:
# Add NaN values
my_df["Happy?"] = [np.nan] * len(my_df)
my_df

,ID,name,age,sex,breed,date_found,adoptable_from,posted,color,coat,...,get_along_males,get_along_females,get_along_cats,keep_in;;;;;;;;;;;;,A,B,D,Test,Alive/Dead,Happy?
0,23807,Gida,0.25,female,Unknown Mix,2019-12-10,2019-12-11,2019-12-11,red,short,...,NaN,NaN,NaN,;;;;;;;;;;;;,A,B,D,A,True,NaN
1,533,Frida És Ricsi,0.17,female,Unknown Mix,2019-12-01,2019-12-01,2019-12-09,black and white,short,...,yes,yes,yes,;;;;;;;;;;;;,A,B,D,A,True,NaN
2,23793,NaN,4.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,saddle back,short,...,NaN,NaN,NaN,;;;;;;;;;;;;,A,B,D,B,True,NaN
3,23795,NaN,1.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,yellow-brown,medium,...,NaN,NaN,NaN,;;;;;;;;;;;;,A,B,D,D,True,NaN
4,23806,Amy,2.00,female,French Bulldog Mix,2019-12-10,2019-12-11,2019-12-11,black,short,...,NaN,NaN,NaN,;;;;;;;;;;;;,A,B,D,D,True,NaN

In [28]:
# Add column with .insert()
my_df.insert(1, "Adopted", ["YES"]* len(my_df), True)
my_df

,ID,Adopted,Adopted,Adopted,name,age,sex,breed,date_found,adoptable_from,...,get_along_males,get_along_females,get_along_cats,keep_in;;;;;;;;;;;;,A,B,D,Test,Alive/Dead,Happy?
0,23807,YES,True,5,Gida,0.25,female,Unknown Mix,2019-12-10,2019-12-11,...,NaN,NaN,NaN,;;;;;;;;;;;;,A,B,D,A,True,NaN
1,533,YES,True,5,Frida És Ricsi,0.17,female,Unknown Mix,2019-12-01,2019-12-01,...,yes,yes,yes,;;;;;;;;;;;;,A,B,D,A,True,NaN
2,23793,YES,True,5,NaN,4.00,male,Unknown Mix,2019-12-08,2019-12-23,...,NaN,NaN,NaN,;;;;;;;;;;;;,A,B,D,B,True,NaN
3,23795,YES,True,5,NaN,1.00,male,Unknown Mix,2019-12-08,2019-12-23,...,NaN,NaN,NaN,;;;;;;;;;;;;,A,B,D,D,True,NaN
4,23806,YES,True,5,Amy,2.00,female,French Bulldog Mix,2019-12-10,2019-12-11,...,NaN,NaN,NaN,;;;;;;;;;;;;,A,B,D,D,True,NaN

In [31]:
# Add column with .assign(), it creates a new df
my_df2 = my_df.assign(HORSE = [False]*len(my_df))
my_df2

,ID,name,age,sex,breed,date_found,adoptable_from,posted,color,coat,...,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,keep_in;;;;;;;;;;;;,Test,HORSE
0,23807,Gida,0.25,female,Unknown Mix,2019-12-10,2019-12-11,2019-12-11,red,short,...,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,A,False
1,533,Frida És Ricsi,0.17,female,Unknown Mix,2019-12-01,2019-12-01,2019-12-09,black and white,short,...,no,NaN,yes,yes,yes,yes,yes,;;;;;;;;;;;;,A,False
2,23793,NaN,4.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,saddle back,short,...,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,B,False
3,23795,NaN,1.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,yellow-brown,medium,...,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,D,False
4,23806,Amy,2.00,female,French Bulldog Mix,2019-12-10,2019-12-11,2019-12-11,black,short,...,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,D,False

In [32]:
# Remove column(axis = 1)
my_df2.drop("HORSE", axis=1)

,ID,name,age,sex,breed,date_found,adoptable_from,posted,color,coat,size,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,keep_in;;;;;;;;;;;;,Test
0,23807,Gida,0.25,female,Unknown Mix,2019-12-10,2019-12-11,2019-12-11,red,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,A
1,533,Frida És Ricsi,0.17,female,Unknown Mix,2019-12-01,2019-12-01,2019-12-09,black and white,short,small,no,NaN,yes,yes,yes,yes,yes,;;;;;;;;;;;;,A
2,23793,NaN,4.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,saddle back,short,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,B
3,23795,NaN,1.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,yellow-brown,medium,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,D
4,23806,Amy,2.00,female,French Bulldog Mix,2019-12-10,2019-12-11,2019-12-11,black,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,D

In [26]:
my_df2

,ID,name,age,sex,breed,date_found,adoptable_from,posted,color,coat,...,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,keep_in;;;;;;;;;;;;,Test,HORSE
0,23807,Gida,0.25,female,Unknown Mix,2019-12-10,2019-12-11,2019-12-11,red,short,...,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,A,False
1,533,Frida És Ricsi,0.17,female,Unknown Mix,2019-12-01,2019-12-01,2019-12-09,black and white,short,...,no,NaN,yes,yes,yes,yes,yes,;;;;;;;;;;;;,A,False
2,23793,NaN,4.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,saddle back,short,...,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,B,False
3,23795,NaN,1.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,yellow-brown,medium,...,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,D,False
4,23806,Amy,2.00,female,French Bulldog Mix,2019-12-10,2019-12-11,2019-12-11,black,short,...,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,D,False

In [27]:
my_df2.drop("HORSE", axis=1, inplace = True) # to remove permanently we need the bool inplace
my_df2

,ID,name,age,sex,breed,date_found,adoptable_from,posted,color,coat,size,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,keep_in;;;;;;;;;;;;,Test
0,23807,Gida,0.25,female,Unknown Mix,2019-12-10,2019-12-11,2019-12-11,red,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,A
1,533,Frida És Ricsi,0.17,female,Unknown Mix,2019-12-01,2019-12-01,2019-12-09,black and white,short,small,no,NaN,yes,yes,yes,yes,yes,;;;;;;;;;;;;,A
2,23793,NaN,4.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,saddle back,short,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,B
3,23795,NaN,1.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,yellow-brown,medium,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,D
4,23806,Amy,2.00,female,French Bulldog Mix,2019-12-10,2019-12-11,2019-12-11,black,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,D

In [29]:
# Removing Row
my_df2.drop(3") # the pattern is axis = 0(row)

,ID,name,age,sex,breed,date_found,adoptable_from,posted,color,coat,size,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,keep_in;;;;;;;;;;;;,Test
0,23807,Gida,0.25,female,Unknown Mix,2019-12-10,2019-12-11,2019-12-11,red,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,A
1,533,Frida És Ricsi,0.17,female,Unknown Mix,2019-12-01,2019-12-01,2019-12-09,black and white,short,small,no,NaN,yes,yes,yes,yes,yes,;;;;;;;;;;;;,A
2,23793,NaN,4.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,saddle back,short,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,B
4,23806,Amy,2.00,female,French Bulldog Mix,2019-12-10,2019-12-11,2019-12-11,black,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,D