In [1]:
import pandas as pd
import numpy as np

In [6]:
my_df = pd.read_csv('ShelterDogs5.csv')

In [9]:
# Grab row method 1: Location
my_df.loc[2] # If it was a string just put in ''

ID                            23793
name                            NaN
age                             4.0
sex                            male
breed                   Unknown Mix
date_found               2019-12-08
adoptable_from           2019-12-23
posted                   2019-12-08
color                   saddle back
coat                          short
size                         medium
neutered                         no
housebroken                     NaN
likes_people                    NaN
likes_children                  NaN
get_along_males                 NaN
get_along_females               NaN
get_along_cats                  NaN
keep_in;;;;;;;;;;;;    ;;;;;;;;;;;;
Name: 2, dtype: object

In [10]:
# Grab row method 2: Index location
my_df.iloc[3]

ID                            23795
name                            NaN
age                             1.0
sex                            male
breed                   Unknown Mix
date_found               2019-12-08
adoptable_from           2019-12-23
posted                   2019-12-08
color                  yellow-brown
coat                         medium
size                         medium
neutered                         no
housebroken                     NaN
likes_people                    NaN
likes_children                  NaN
get_along_males                 NaN
get_along_females               NaN
get_along_cats                  NaN
keep_in;;;;;;;;;;;;    ;;;;;;;;;;;;
Name: 3, dtype: object

In [12]:
# Specific points(row and column) 
my_df.loc[3, 'color']

'yellow-brown'

In [14]:
# Subsets
# my_df.loc[['row', 'row'], ['column', 'column']]
my_df.loc[[1, 3], ["color", "size"]]

             color    size
1  black and white   small
3     yellow-brown  medium

In [18]:
# Conditional selection, it returns booleans
my_df == 'yellow-brown'

,ID,name,age,sex,breed,date_found,adoptable_from,posted,color,coat,size,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,keep_in;;;;;;;;;;;;
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [21]:
# Returns Dataframes with data
my_df[my_df == 'yellow-brown']

,ID,name,age,sex,breed,date_found,adoptable_from,posted,color,coat,size,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,keep_in;;;;;;;;;;;;
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,yellow-brown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# Run them on a column
my_df[my_df == 'yellow-brown']['color']

0             NaN
1             NaN
2             NaN
3    yellow-brown
4             NaN
Name: color, dtype: str

In [28]:
# Return multiple columns
my_df[my_df == 'yellow-brown'][['color','name']]
# As here we only have strings, we cannot use comparatives(>, <, ...) if it was numeros we could use it

          color name
0           NaN  NaN
1           NaN  NaN
2           NaN  NaN
3  yellow-brown  NaN
4           NaN  NaN

In [38]:
# Multiple condition AND(&)
my_df[(my_df['color'] == 'yellow-brown') & (my_df['breed'] == 'Unknown Mix')]

,ID,name,age,sex,breed,date_found,adoptable_from,posted,color,coat,size,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,keep_in;;;;;;;;;;;;
3,23795,NaN,1.0,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,yellow-brown,medium,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;

In [42]:
# Get lenght
len(my_df[(my_df['color'] == 'yellow-brown') & (my_df['breed'] == 'Unknown Mix')])

1

In [43]:
# Multiple condition or(|)
my_df[(my_df['color'] == 'yellow-brown') | (my_df['breed'] == 'Unknown Mix')]

,ID,name,age,sex,breed,date_found,adoptable_from,posted,color,coat,size,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,keep_in;;;;;;;;;;;;
0,23807,Gida,0.25,female,Unknown Mix,2019-12-10,2019-12-11,2019-12-11,red,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;
1,533,Frida És Ricsi,0.17,female,Unknown Mix,2019-12-01,2019-12-01,2019-12-09,black and white,short,small,no,NaN,yes,yes,yes,yes,yes,;;;;;;;;;;;;
2,23793,NaN,4.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,saddle back,short,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;
3,23795,NaN,1.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,yellow-brown,medium,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;

In [44]:
# Get lenght
len(my_df[(my_df['color'] == 'yellow-brown') | (my_df['breed'] == 'Unknown Mix')])

4

In [45]:
# Return specific item
my_df[(my_df['color'] == 'yellow-brown') | (my_df['breed'] == 'Unknown Mix')]['name']

0              Gida
1    Frida És Ricsi
2               NaN
3               NaN
Name: name, dtype: str