In [1]:
import pandas as pd

In [4]:
my_df = pd.read_csv('ShelterDogs5.csv')
my_df

,ID,name,age,sex,breed,date_found,adoptable_from,posted,color,coat,size,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,keep_in;;;;;;;;;;;;
0,23807,Gida,0.25,female,Unknown Mix,2019-12-10,2019-12-11,2019-12-11,red,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;
1,533,Frida És Ricsi,0.17,female,Unknown Mix,2019-12-01,2019-12-01,2019-12-09,black and white,short,small,no,NaN,yes,yes,yes,yes,yes,;;;;;;;;;;;;
2,23793,NaN,4.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,saddle back,short,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;
3,23795,NaN,1.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,yellow-brown,medium,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;
4,23806,Amy,2.00,female,French Bulldog Mix,2019-12-10,2019-12-11,2019-12-11,black,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;

In [6]:
my_df['name']

0              Gida
1    Frida És Ricsi
2               NaN
3               NaN
4               Amy
Name: name, dtype: str

In [9]:
# Value counts
my_df['name'].value_counts()

name
Gida              1
Frida És Ricsi    1
Amy               1
Name: count, dtype: int64

In [10]:
# Value Counts Dataframe
pd.DataFrame(my_df['name'].value_counts())

                count
name
Gida                1
Frida És Ricsi      1
Amy                 1

In [12]:
# Unique Names
my_df['name'].unique()

<StringArray>
['Gida', 'Frida És Ricsi', nan, 'Amy']
Length: 4, dtype: str

In [13]:
# Unique Names Dataframe
pd.DataFrame(my_df['name'].unique())

                0
0            Gida
1  Frida És Ricsi
2             NaN
3             Amy