In [2]:
import pandas as pd
import numpy as np
from numpy.random import randn # Create random numbers

In [9]:
my_data = randn(4, 3) # Rows(4) and columns(3)
my_rows = ["A", "B", "C", "D"]
my_cols = ["Monday", "Tuesday", "Friday"]

In [15]:
# Create dataframe
my_df = pd.DataFrame(my_data, my_rows, my_cols)
my_df

     Monday   Tuesday    Friday
A -0.387262 -0.019479 -0.796908
B  0.421665 -0.750616  0.448151
C -0.718053 -0.731644  0.494662
D -1.295773 -1.568791 -0.497440

In [4]:
# Import CSV 
my_df2 = pd.read_csv('gender_submission.csv') #there you put the archive.csv or his path
my_df2

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [5]:
my_df2.loc[0]

PassengerId    892
Survived         0
Name: 0, dtype: int64