In [2]:
import pandas as pd
import numpy as np

In [4]:
my_df = pd.read_csv('ShelterDogs5.csv')
my_df

,ID,name,age,sex,breed,date_found,adoptable_from,posted,color,coat,size,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,keep_in;;;;;;;;;;;;
0,23807,Gida,0.25,female,Unknown Mix,2019-12-10,2019-12-11,2019-12-11,red,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;
1,533,Frida És Ricsi,0.17,female,Unknown Mix,2019-12-01,2019-12-01,2019-12-09,black and white,short,small,no,NaN,yes,yes,yes,yes,yes,;;;;;;;;;;;;
2,23793,NaN,4.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,saddle back,short,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;
3,23795,NaN,1.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,yellow-brown,medium,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;
4,23806,Amy,2.00,female,French Bulldog Mix,2019-12-10,2019-12-11,2019-12-11,black,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;

In [6]:
# Create a new column
my_df["Frame_Header"] = ["Dog 1", "Dog 2", "Dog 3", "Dog 4", "Dog 5"]
my_df

,ID,name,age,sex,breed,date_found,adoptable_from,posted,color,coat,size,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,keep_in;;;;;;;;;;;;,Frame_Header
0,23807,Gida,0.25,female,Unknown Mix,2019-12-10,2019-12-11,2019-12-11,red,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,Dog 1
1,533,Frida És Ricsi,0.17,female,Unknown Mix,2019-12-01,2019-12-01,2019-12-09,black and white,short,small,no,NaN,yes,yes,yes,yes,yes,;;;;;;;;;;;;,Dog 2
2,23793,NaN,4.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,saddle back,short,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,Dog 3
3,23795,NaN,1.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,yellow-brown,medium,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,Dog 4
4,23806,Amy,2.00,female,French Bulldog Mix,2019-12-10,2019-12-11,2019-12-11,black,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;,Dog 5

In [7]:
# Set the Index
my_df.set_index("Frame_Header", inplace=True)
# Note: Using inplace=True makes the change permanent
my_df

,ID,name,age,sex,breed,date_found,adoptable_from,posted,color,coat,size,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,keep_in;;;;;;;;;;;;
Frame_Header,,,,,,,,,,,,,,,,,,,
Dog 1,23807,Gida,0.25,female,Unknown Mix,2019-12-10,2019-12-11,2019-12-11,red,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;
Dog 2,533,Frida És Ricsi,0.17,female,Unknown Mix,2019-12-01,2019-12-01,2019-12-09,black and white,short,small,no,NaN,yes,yes,yes,yes,yes,;;;;;;;;;;;;
Dog 3,23793,NaN,4.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,saddle back,short,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;
Dog 4,23795,NaN,1.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,yellow-brown,medium,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;
Dog 5,23806,Amy,2.00,female,French Bulldog Mix,2019-12-10,2019-12-11,2019-12-11,black,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;

In [9]:
# Reset the Index
my_df.reset_index(inplace=True)
my_df

,index,Frame_Header,ID,name,age,sex,breed,date_found,adoptable_from,posted,...,coat,size,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,keep_in;;;;;;;;;;;;
0,0,Dog 1,23807,Gida,0.25,female,Unknown Mix,2019-12-10,2019-12-11,2019-12-11,...,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;
1,1,Dog 2,533,Frida És Ricsi,0.17,female,Unknown Mix,2019-12-01,2019-12-01,2019-12-09,...,short,small,no,NaN,yes,yes,yes,yes,yes,;;;;;;;;;;;;
2,2,Dog 3,23793,NaN,4.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,...,short,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;
3,3,Dog 4,23795,NaN,1.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,...,medium,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;
4,4,Dog 5,23806,Amy,2.00,female,French Bulldog Mix,2019-12-10,2019-12-11,2019-12-11,...,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;

In [10]:
# Drop the extra column
my_df.drop("Frame_Header", axis=1, inplace=True)
my_df

,index,ID,name,age,sex,breed,date_found,adoptable_from,posted,color,coat,size,neutered,housebroken,likes_people,likes_children,get_along_males,get_along_females,get_along_cats,keep_in;;;;;;;;;;;;
0,0,23807,Gida,0.25,female,Unknown Mix,2019-12-10,2019-12-11,2019-12-11,red,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;
1,1,533,Frida És Ricsi,0.17,female,Unknown Mix,2019-12-01,2019-12-01,2019-12-09,black and white,short,small,no,NaN,yes,yes,yes,yes,yes,;;;;;;;;;;;;
2,2,23793,NaN,4.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,saddle back,short,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;
3,3,23795,NaN,1.00,male,Unknown Mix,2019-12-08,2019-12-23,2019-12-08,yellow-brown,medium,medium,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;
4,4,23806,Amy,2.00,female,French Bulldog Mix,2019-12-10,2019-12-11,2019-12-11,black,short,small,no,NaN,NaN,NaN,NaN,NaN,NaN,;;;;;;;;;;;;